openapi: 3.0.3
info:
  title: Teachereasy Products APIs 
  description: |
    # About us
     This `OpenAPI` specification outlines the APIs provided by ***Teachereasy*** for accessing teacher and course information, as well as managing orders.
    ## What's next
     - authentication
     - reusable components
  termsOfService: https://teachereasy.com/terms/
  x-custom-info:
    comment: Some comments
    developers:
      - name: John Doe
        email: john@doe.com
      - name: Jane Doe
        email: jane@doe.com
  contact:
    name: API Support
    url: https://www.teachereasy.com/support
    email: support@teachereasy.com
  license:
    name: Teachereasy License
    url: https://www.teachereasy.com/licenses/LICENSE-2.0.html
  version: 0.0.1
externalDocs:
  description: External Documentation
  url: https://example.com
servers:
  - url: https://development.teachereasy-server.com/v1
    description: Development server
tags:
  - name: Teachers
    description: Operations with teachers
  - name: Courses
    description: Operations with courses
  - name: Orders
    description: Operations with orders
security:
  - BasicAuth: []
  - BearerAuth: []
  - ApiKeyAuth: []
  - oAuth2AuthCode:
    - read
    - write
    - admin
paths:
  /teachers:
    get:
      tags: 
        - Teachers
      summary: List teachers
      description: Retrieves a list of teachers available on Teachereasy.
      operationId: getTeachers
      parameters:
        - name: teacherId
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            example: 100
      responses:
        '200':
          description: A list of teachers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    teacherId:
                      type: integer
                    name:
                      type: string
              examples:
                all-teachers-data:
                  summary: Teachers example data
                  value:
                    - teacherId: 101
                      name: Julia Ashew
                    - teacherId: 202
                      name: Frank Lop
                    - teacherId: 56
                      name: Miranda Regrow
                single-teacher-data:
                  summary: A single teacher example data
                  value:
                    - teacherId: 101
                      name: Julia Ashew
        '500':
          $ref: "#/components/responses/InternalServerError"
  /teachers/{teacherID}:
    get:
      tags: 
        - Teachers
      summary: Get teacher
      description: Retrieves information about a specific teacher by their ID.
      operationId: getTeacherDetails
      parameters:
        - name: teacherID
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          example: 101
      responses:
        '200':
          description: Teacher information
          content:
            application/json:
              schema:
                type: object
                properties:
                  teacherId:
                      type: integer
                  name:
                      type: string
        '500':
          $ref: "#/components/responses/InternalServerError"
  /courses:
    get:
      tags: 
        - Courses
      summary: List courses
      description: Retrieves a list of available courses.
      operationId: getCourses
      security:
        - BasicAuth: []
      parameters:
        - name: courseID
          in: query 
          schema:
            type: integer
          example: 23
      responses:
        '200':
          description: A list of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    courseId:
                      type: integer
                    courseName:
                      type: string
                    teacherID:
                       type: integer
                    name: 
                      type: string
              examples:
                courses-data:
                  summary: Courses example data
                  value:
                    - courseId: 10
                      courseName: Web Design
                      teacherID: 202
                      name: Frank Lop
                    - courseId: 49
                      courseName: Integrals
                      teacherID: 101
                      name: Julia Ashew
                    - courseId: 40
                      courseName: Collocations
                      teacherID: 56
                      name: Miranda Regrow
        '500':
          $ref: "#/components/responses/InternalServerError"
  /courses/{courseID}:
    get:
      tags: 
        - Courses
      summary: Get course
      description: Retrieves information about a specific course by its ID.
      operationId: getCourseDetails
      security: []
      parameters:
        - name: courseID
          in: path
          required: true
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Course information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/course"
        '500':
          $ref: "#/components/responses/InternalServerError"
  /orders:
    post:
      tags: 
        - Orders
      summary: Create order
      description: |
        Submits order details for processing
        and shipping.
      operationId: saveOrderDetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    $ref: "#/components/schemas/product"
                personalData:
                  $ref: "#/components/schemas/personalData"
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
          links:
            GetOrderByOrderId:
              $ref: '#/components/links/GetOrderByOrderId'
        '500':
          $ref: "#/components/responses/InternalServerError"
    put:
      tags: 
        - Orders
      summary: Update order
      description: |
        Updates order details for processing
        and shipping.
      operationId: updateOrderDetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderID:
                  type: integer
                products:
                  type: array
                  items:
                    $ref: "#/components/schemas/product"
                personalData:
                  $ref: "#/components/schemas/personalData"
      responses:
        '200':
          description: Order updated successfully
        '500':
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags: 
        - Orders
      summary: Delete order
      description: Delete order details. 
      operationId: deleteOrderDetails
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        '204':
          description: Order details cancelled successfully
        '500':
          $ref: "#/components/responses/InternalServerError"
    get:
      tags: 
        - Orders
      summary: Get order
      description: Retrieves order details.
      operationId: getOrderDetails
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
      responses:
        '200':
          description:  Order details fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderID:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/product"
                  personalData:
                    $ref: "#/components/schemas/personalData"
        '500':
          $ref: "#/components/responses/InternalServerError"
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order details
      operationId: getOrderDetailsUsingPathParam
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/orderIdPathParam"
      responses:
        '200':
          description: Fetched order details successfully
          content:
            application/json:
              schema: 
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/product"
                  address:
                    $ref: "#/components/schemas/personalData"
        '500':
          $ref: "#/components/responses/InternalServerError"
  /oneOfOrder:
    post:
      tags:
      - Orders
      summary: Insert OneOf the order details
      operationId: demoOfOneOf
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/slides'
                    - $ref: '#/components/schemas/tests'
                address:
                  $ref: '#/components/schemas/personalData'
              required:
                - products
                - address
      responses:
        '200':
          description: Order placed successfully
  /anyOfOrder:
    get:
      tags:
      - Orders
      summary: Get order details
      description: Get order details based on order ID
      operationId: demoOfAnyOf
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParam"
        - name: fetchType
          in: query
          required: true
          schema:
            type: string
            enum:
              - summary
              - details
          description: >
            Fetch type:
             * `summary` - provides order summary
             * `details` - provides order summary & order address
      responses:
        '200':
          description: Return product details
          content:
            application/json:
              schema:
               anyOf:
                - $ref: '#/components/schemas/orderSummary'
                - $ref: '#/components/schemas/orderAddress'  
components:
  parameters:
    orderIdQueryParam:
      name: orderId
      in: query
      required: true
      schema:
          type: integer
    orderIdPathParam:
      name: orderId
      in: path
      required: true
      schema:
        type: integer
  schemas:
    personalData:
      type: object
      properties:
        address:
          type: string
          description: Contains information about a <u>physical location</u>, such as the country, city, street name, and street number.
        phoneNumber:
          type: string
        isOfficeAddress: 
          type: boolean
        country:
          type: string
          enum:
            - Germany
            - Canada
            - Brazil
    product:
      type: object
      properties:
        courseId:
          type: integer
        courseName:
          type: string
        price:
          type: number
          format: float
        releaseDate:
          type: string
          format: date
          readOnly: true
        name:
          type: string
    course: 
      type: object
      properties:
        courseId:
          type: integer
        courseName:
          type: string
    slides:
      allOf:
        - $ref: "#/components/schemas/product"
        - type: object
          properties:
            slidesName:
              type: string
            slidesLenght:
              type: number
          required: [slidesName]
    tests:
      allOf:
        - $ref: "#/components/schemas/product"
        - type: object
          properties:
            testName:
              type: string
    orderSummary:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/product'
    orderAddress:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/personalData'
  responses:
    InternalServerError:
      description: |
        An error occurred while processing the request.
  links:
    GetOrderByOrderId:
      description: >
        The `orderId` value returned in the response can be used as input parameter in `GET /orders`.
      operationId: getProductDetails
      parameters:
        orderId: '$response.body#/orderId'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:        
      type: apiKey
      in: header
      name: X-API-KEY
    oAuth2AuthCode:
      type: oauth2
      flows: 
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/api/oauth.access
          scopes:
            read: Access to read data
            write: Access to read and write data
            admin: Admin access